<aside class="menu">
  <h2 class="menu-label">
    Licence Reports
  </h2>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/licences/licenceCategorySummary">Licence Category Summary</a>
    </li>
  </ul>
</aside>
