<aside class="menu">
  <h2 class="menu-label">
    Licences
  </h2>
  <ul class="menu-list">
    <li>
      <a
        <% if (headTitle === "Licences") { %>
          class="is-active" href="#" aria-current="page"
        <% } else { %>
          href="<%= urlPrefix %>/licences"
        <% } %>
        >
        <span class="icon"><i class="fas fa-search" aria-hidden="true"></i></span>
        Licence Search
      </a>
    </li>
    <li>
      <a
        <% if (headTitle === "Licence Category Summary") { %>
          class="is-active" href="#" aria-current="page"
        <% } else { %>
          href="<%= urlPrefix %>/licences/licenceCategorySummary"
        <% } %>
        >
        <span class="icon"><i class="fas fa-table" aria-hidden="true"></i></span>
        Licence Category Summary
      </a>
    </li>
  </ul>
</aside>
