@import '@cityssm/bulma-webapp-css/cityssm.min';
@import '@cityssm/fa-glow/fa-glow';

.has-min-page-height {
  min-height: 100vh;
}

#is-login-page {
  overflow: auto;
  background-image: url('../images/login.jpg');
  background-position: top center;
  background-size: cover;
}


.input:read-only,
.select select:disabled,
.select select:disabled:read-only {
  cursor: not-allowed;
  background-color: #f5f5f5;
  border-color: #dbdbdb;
}
